@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Playfair Display', serif;

  --color-brand-black: #1a1a1a;
  --color-brand-dark: #2c2c2c;
  --color-brand-gold: #d4af37;
  --color-brand-gold-light: #f3e5ab;
  --color-brand-cream: #fbfbfb;
  --color-brand-gray: #888888;
}


html {
  scroll-behavior: smooth;
}

body {
  @apply font-sans antialiased text-brand-black bg-brand-cream;
  overflow-x: hidden;
}

/* Custom Utilities for Lux Vibe */
.text-gold {
  color: var(--color-brand-gold);
}

.bg-gold {
  background-color: var(--color-brand-gold);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif;
}