@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-brand-dark: #0f172a;
  --color-brand-light: #f8fafc;
  --color-brand-accent: #c0a062;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap');

body {
  @apply font-sans antialiased text-slate-800 bg-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-sans;
}

.luxury-font {
  font-family: 'Playfair Display', serif;
}

.background_colour_ready {
  background-color: rgb(129 122 249);
}